/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Main Content */
.content {
  width: 100%;
}

.header .nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header .logo img {
  width: 36px;
  height: 36px;
}

.header {
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
  background: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  padding: 0 20px 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.hamburger {
  width: 40px;
  cursor: pointer;
  display: none;
}
.hamburger img {
  width: 100%;
  height: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header ul li {
  margin-right: 20px;
  position: relative;
  padding: 0.2rem;
}
.header ul li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orange;
  transform: scale(0);
  transition: 0.3s ease;
  transform-origin: bottom left;
}
.header ul li:hover::after {
  transform: scale(1);
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.user-icon {
  background: #d9d9d9;
  padding: 4px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Sidebar */
.sidebar {
  width: 300px;
  height: 920px;
  left: 0;
  top: 0;
  color: #fff;
  border: 2px solid black;
  background: black;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  width: 100%;
}

.sidebar ul li a {
  height: 74px;
  /* background: #f8f7fd; */
  /* background: black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 12px;
  padding-left: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  color: white;
  border-radius: 10px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}

.sidebar ul li a:hover {
  background: #6a6a6a;
  color: black;
  font-weight: 600;
  /* text-decoration: underline; */
}

.sidebar .nav-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.nav-icon {
  width: 28px;
  height: 28px;
  background-size: cover;
  transition: background-image 0.3s ease;
}

.nav-dashboard .nav-icon {
  background-image: url("./assets/images/dashboard-icon.png");
}

.nav-dashboard:hover .nav-icon {
  background-image: url("./assets/images/dashboard-icon-hover.png");
}

.nav-purchase .nav-icon {
  background-image: url("./assets/images/purchase-icon.png");
}

.nav-purchase:hover .nav-icon {
  background-image: url("./assets/images/purchase-icon-hover.png");
}

.nav-product .nav-icon {
  background-image: url("./assets/images/product-icon.png");
}

.nav-product:hover .nav-icon {
  background-image: url("./assets/images/product-icon-hover.png");
}

.nav-profile .nav-icon {
  background-image: url("./assets/images/profile-icon.png");
}

.nav-profile:hover .nav-icon {
  background-image: url("./assets/images/profile-icon-hover.png");
}

.nav-logout .nav-icon {
  background-image: url("./assets/images/logout-icon.png");
}

.nav-logout:hover .nav-icon {
  background-image: url("./assets/images/logout-icon-hover.png");
}

.nav-cart .nav-icon {
  background-image: url("./assets/images/cart-icon.png");
}

.nav-cart:hover .nav-icon {
  background-image: url("./assets/images/cart-icon-hover.png");
}

.nav-wish .nav-icon {
  background-image: url("./assets/images/wish-icon.png");
}

.nav-wish:hover .nav-icon {
  background-image: url("./assets/images/wish-icon-hover.png");
}

.nav-pass .nav-icon {
  background-image: url("./assets/images/pass-icon.png");
}

.nav-pass:hover .nav-icon {
  background-image: url("./assets/images/pass-icon-hover.png");
}

.dashboard {
  width: 100%;
  background-color: #fff;
}
.dashboard-header {
  /* border: 2px solid black; */
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 300px;
}
.dashboard-header .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dash-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  /* border: 2px solid black; */
}

.dash-bottom .dash-left {
  width: 60%;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
}

.dash-bottom .dash-right {
  width: 40%;
  height: 100%;
  padding: 10px;
  /* border: 2px solid black; */
}

/* Dashboard Cards */
.dashboard-stats {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  gap: 20px;
}

.dashboard-stats .card {
  position: relative;
  width: 201.78px;
  height: 170.24px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 8px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.dashboard-stats .card:hover {
  /* box-shadow: none; */
  cursor: pointer;
  scale: 1.1;
}

.dashboard-stats .card h3 {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #424242;
  position: absolute;
  bottom: -20px;
  transition: all 0.2s ease;
}
.dashboard-stats .card:hover h3 {
  bottom: 20px;
  transition: all 0.2s ease;
}

.payment-report {
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  /* background-color: rgba(148, 148, 148, 0.671); */
  height: auto;
  /* border: 2px solid black; */
  overflow: hidden;
  background: #ffffff;
}

.content-head {
  height: auto;
  padding: 20px 5px 20px 20px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-head h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #282828;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead,
tbody {
  height: auto;
  padding: 20px;
  background: white;
}

thead th {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: black;
  width: 180px;
  padding: 4px 8px;
}

th.file {
  width: 360px;
}

thead tr {
  width: auto;
  height: 57px;
  margin: 1px auto;
}

tbody tr {
  width: max-content;
  height: 37px;
  border-radius: 4px;
}

tbody td {
  padding: 8px 6px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #6a6a6a;
  width: auto;
}

tbody tr:hover {
  background: #f8f7fd;
}

tbody tr:last-child td {
  border-bottom: none;
}

.status {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.paid {
  background-color: #28a745;
  width: 85px;
  text-align: center;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.rejected {
  background-color: red;
  width: 85px;
  text-align: center;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.pending {
  background-color: #ffc107;
  width: 85px;
  text-align: center;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.paid:hover {
  background-color: #218838;
}

.rejected:hover {
  background-color: #dc3545;
}

.pending:hover {
  background-color: #e0a800;
}

.view-button {
  background-color: #ff8400;
  border: none;
  cursor: pointer;
  /* width: max-content; */
  width: 85px;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.view-button:hover {
  background-color: #e67300;
}

.analytics-container,
.target-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px 0;
  /* margin: 20px 0; */
  /* border: 2px solid black; */
}

h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #282828;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  height: 100%;
}

.analytics-container canvas {
  height: 150px !important;
  width: 150px !important;
}

.target-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
  flex-wrap: nowrap;
}

.legend-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.legend-dot.blue {
  background-color: #007bff;
}
.legend-dot.green {
  background-color: #28a745;
}
.legend-dot.orange {
  background-color: #ffc107;
}
.legend-dot.red {
  background-color: #dc3545;
}

.amount {
  margin-left: 8px;
  font-weight: bold;
}

.chart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.target-container h2 {
  width: 256px;
}

/* .dropbtn {
  background: #fead1d;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.dropbtn:hover {
  background: #f0a500;
}

.dropbtn option {
  background: #fead1d;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.dropbtn option:hover {
  background: #f0a500;
} */

/* Button style */
.dropbtn {
  background-color: #fead1d;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change hover color of dropdown links */
.dropdown-content a:hover {
  background-color: #f0a500;
  color: white;
}

/* Footer */
.footer {
  width: 100%;
  height: 60px;
  background: #111111;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}

.footer .social-icons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 1600px) {
  .analytics-container canvas {
    height: 176px !important;
    width: 176px !important;
  }

  .target-container h2 {
    width: auto;
  }

  .legend div {
    font-size: 14px;
  }

  tbody td {
    font-size: 14px;
  }

  thead th {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1800px) {
  .analytics-container canvas {
    height: 180px !important;
    width: 180px !important;
  }

  .chart-container {
    padding: 20px 30px;
  }

  .payment-report {
    width: 100%;
  }

  tbody td {
    font-size: 18px;
    font-weight: 500;
  }

  thead th {
    font-size: 20px;
    line-height: 28px;
  }

  .paid,
  .pending,
  .rejected {
    font-size: 18px;
    padding: 14px 0px;
    width: 110px;
  }

  .view-button {
    font-size: 18px;
    padding: 12px 0px;
    width: 110px;
  }

  .content-head h2,
  h2 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }

  .dashboard-stats .card {
    width: 250px;
    height: 150px;
    gap: 20px;
  }

  .dashboard-stats .card h3 {
    font-size: 17px;
  }

  .analytics-container,
  .target-container {
    height: 350px;
  }

  .target-container h2 {
    width: auto;
  }

  .dropbtn {
    font-size: 18px;
    padding: 10px 16px;
  }

  .dropdown-content a {
    font-size: 18px;
  }

  .legend div {
    font-size: 17px;
  }
  .sidebar {
    height: 100dvh;
  }
}
@media (max-width: 1334px) {
  .sidebar {
    position: absolute;
    z-index: 888;
    left: -400px;
    top: 70px;
    transition: 0.4s ease;
  }
  .hamburger {
    display: block;
    transition: 0.4s ease;
  }
}
@media (max-width: 1436px) {
  .analytics-container canvas {
    height: 120px !important;
    width: 120px !important;
  }
  .legend div {
    font-size: 12px;
  }
  .legend-dot {
    height: 10px;
    width: 10px;
  }
  .chart-container {
    padding: 20px 15px;
  }
}
@media (max-width: 1088px) {
  .analytics-container canvas {
    height: 100px !important;
    width: 100px !important;
  }
  .chart-container {
    padding: 20px 5px;
  }
  .legend-dot {
    height: 8px;
    width: 8px;
  }
  .legend div {
    font-size: 10px;
  }
}
@media (max-width: 1095px) {
  .dropbtn {
    font-size: 12px;
    padding: 8px 10px;
  }
}
